.section-home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
    background: #3245ff;
    background: radial-gradient(circle, #3245ff 0%, #0d0f14 88%);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 700px;
}

.title-home {
    font-size: 80px;
}
.detail-home {
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
    
}
.container-link-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.link-home {
    padding: 14px;
    background-color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #b845ed;
    font-family: 'Inconsolata', monospace;
    border: 1px solid transparent;
    transition: .5s;

}
.link-home:hover {
    transition: .5s;
    border-color: #b845ed;
}

.title-init {
    padding: 14px;
    background-color: #0d0f14a8;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    border-radius: 5px;
}
.icon-copy {
    cursor: pointer;
}
.title-install {
    font-family: 'Inconsolata', monospace;
}
.active {
    background-color: #0f2e18;
    color: #62c073;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    transition: all .2s;

}