.section-components {
    width: 100%;
    height: 100vh;
    background-color: #0d0f14;
    padding: 10px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.content-components {
    width: 60%;
    overflow-y: auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.title-components {
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.list-components {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-component {
    font-size: 24px;
    padding-bottom: 20px;
}

.show-component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


