---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
import "../styles/page-colors.css";

---

<Layout 
    title="colores - detalles de colores disponibles en los componentes" 
    description="página de muestras todos los colores que hay disponibles para que los uses en tus componentes">
    <main class="section-colors">
        <section class="container-colors">
            <h1 class="title-colors">Colors</h1>
            <Line />
            <div>   
                <h2 class="title-section-colors">Colores de fondo </h2>
                <ul class="list-colors">

            <li class="item-color">
                <h4 class="title-color">violet</h4>
                <p class="show-color violet"></p>
                <p class="code-color">#646cff</p>

            </li>
            <li class="item-color">
                <h4 class="title-color">blue</h4>
                <p class="show-color blue"></p>
                <p class="code-color">#149eca</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">green</h4>
                <p class="show-color green"></p>
                <p class="code-color">#28a745</p>

            </li>
            <li class="item-color">
                <h4 class="title-color">orange</h4>
                <p class="show-color orange"></p>
                <p class="code-color">#fd7e14</p>

            </li>
            <li class="item-color">
                <h4 class="title-color">purple</h4>
                <p class="show-color purple"></p>
                <p class="code-color">#ffc107</p>

            </li>
            <li class="item-color">
                <h4 class="title-color">red</h4>
                <p class="show-color red"></p>
                <p class="code-color">#6f42c1</p>

            </li>
            <li class="item-color">
                <h4 class="title-color">teal</h4>
                <p class="show-color teal"></p>
                <p class="code-color">#dc3545</p>

            </li>
            <li class="item-color">
                <h4 class="title-color">yellow</h4>
                <p class="show-color yellow"></p>
                <p class="code-color">#ffc107</p>

            </li>
            <li class="item-color">
                <h4 class="title-color">transparent</h4>
            </li>
        </ul>
    </div>
    <Line />
    <div>
        <h2 class="title-section-colors">Colores de fondo para los componentes Collapse y Card</h2>
        <ul class="list-colors"
            <li class="item-color">
                <h4 class="title-color">Light</h4>
                <p class="show-color light"></p>
            </li>
            <li class="item-color">
                <h4 class="title-color">Dark</h4>
                <p class="show-color dark"></p>
            </li>
        </ul>
    </div>
    <Line />
        <div>
            <h2 class="title-section-colors">Colores de prop variant para Badge</h2>
        <ul class="list-colors">

            <li class="item-color">
                <h4 class="title-color">violet</h4>
                <p class="show-color violet-v">Prueba</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">blue</h4>
                <p class="show-color blue-v">Prueba</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">green</h4>
                <p class="show-color green-v">Prueba</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">gray</h4>
                <p class="show-color gray-v">Prueba</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">yellow</h4>
                <p class="show-color yellow-v">Prueba</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">orange</h4>
                <p class="show-color orange-v">Prueba</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">red</h4>
                <p class="show-color red-v">Prueba</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">teal</h4>
                <p class="show-color teal-v">Prueba</p>
            </li>
            <li class="item-color">
                <h4 class="title-color">pink</h4>
                <p class="show-color pink-v">Prueba</p>
            </li>
        </ul>
        </div>

        </section>
  
    </main>
</Layout>