---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
import "../styles/page-components.css";
import { Button, Card, Loader, Toggle, Modal, Badge, Collapse, CarrouselImages } from "../views/index.jsx";
---

<Layout
    title="componentes - todos los componentes del catálogo" 
    description="página de donde están todos los componentes que se pueden usar en este catálogo, más una vista previa."
>
    <main class='section-components'>
        <section class="content-components">
            <h1 class="title-components">Componentes</h1>
            <Line />
            <ul class="list-components">
                <li id="button" class="container-component">
                    <h4 class="title-component">Button</h4>
                    <div class="container-code">
                        <p class="title-code-component">{`<Button`}</p>
                        <p class="code">{` bg="teal" width="auto" onClick={yourFunction}>Click here`}</p>
                        <p class="title-code-component">{`</Button>`}</p>
                    </div>
                    <div class="show-component">
                        <Button client:visible />
                    </div>
                </li>
                <li id="badge" class="container-component">
                    <h4 class="title-component">Badge</h4>
                    <div class="container-code">
                        <p class="title-code-component">{`<Badge`}</p>
                        <p class="code">{`variant="teal" width="auto">Node.js`}</p>
                        <p class="title-code-component">{`</Badge>`}</p>
                    </div>
                    <div class="show-component">
                        <Badge>Node.js</Badge>
                    </div>
                </li>
                <li id="toggle" class="container-component">
                    <h4 class="title-component">Toggle</h4>
                    <div class="container-code">
                        <p class="title-code-component">{`<Toggle`}</p>
                        <p class="code">{`onClick="yourFunction" />`}</p>
                    </div>
                    <div class="show-component">
                        <Toggle />
                    </div>
                </li>
                <li id="loader" class="container-component">
                    <h4 class="title-component">Loader</h4>
                    <div class="container-code">
                        <p class="code title-code-component">{`<Loader />`}</p>
                    </div>
                    <div class="show-component">
                        <Loader />
                    </div>
                </li>
                <li id="card" class="container-component">
                    <h4 class="title-component">Card</h4>
                    <div class="container-code">
                        <p class="title-code-component">{`<Card `}</p>
                        <p class="code">{`bg="light">esta es mi card personal`}</p>
                        <p class="title-code-component">{`</Card>`}</p>
                    </div>
                    <div class="show-component">
                        <Card>esta es mi card personal</Card>
                    </div>
                </li>
                <li id="modal" class="container-component">
                    <h4 class="title-component">Modal</h4>
                    <div class="container-code">
                        <p class="title-code-component">{`<Modal`}</p>
                        <p class="code">{`titleButton="open modal">Este es mi modal`}</p>
                        <p class="title-code-component">{`</Modal>`}</p>
                    </div>
                    <div class="show-component">
                        <Modal client:visible />
                    </div>
                </li>
                <li id="collapse" class="container-component">
                    <h4 class="title-component">Collapse</h4>
                    <div class="container-code">
                        <p class="title-code-component">{`<Collapse`}</p>
                        <p class="code">{`title="título 1" bg="dark">Este es mi contenido`}</p>
                        <p class="title-code-component">{`</Collapse>`}</p>
                    </div>
                    <div class="show-component">
                        <Collapse client:visible />
                    </div>
                </li>
                <li id="carrousel" class="container-component">
                    <h4 class="title-component">CarrouselImages</h4>
                    <div class="container-code">
                        <p class="title-code-component">{`<CarrouselImages`}</p>
                        <p class="code">{`images={arrayImages} auto={true} time={3000} width="100%" height="400px" />`}</p>
                    </div>
                    <div class="show-component">
                        <CarrouselImages client:visible />
                    </div>
                </li>

            </ul>
        </section>
      </main>
</Layout>