---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
import imgImport from "../assets/images-code/imports.png"
import imgProps1 from "../assets/images-code/props1.png"
import imgProps2 from "../assets/images-code/props2.png"
import imgUso from "../assets/images-code/uso.png"
import '@fontsource/inconsolata';
import "../styles/docs.css";
---

<Layout
  title="docs - introducción de como usar los componentes" 
  description="página de introducción que muestra como instalar el paquete en tu projecto y cómo empezar a usarlo, una guia básica"
>
    <main class='section-docs'>
        <section class="content">
          <h1 class="title">Introducción</h1>
          <Line />
          <div id="instalacion" class="container-details">
            <h2 class="title-docs">Instalación</h2>
            <p class="detail-docs">Pueden instalar el paquete directamente desde npm:</p>
            <div class="container-code">
              <p class="code">npm i components-fast</p> 
            </div>
          </div>

          <div class="container-details">
            <h2 class="title-docs">Imports</h2>
            <p class="detail-docs">Puedes importar los diferentes componentes que necesites de ésta forma:</p>
            <img src={imgImport.src} width="100%" height="auto" alt="image imports">
          </div>
          
          <div class="container-details">
            <h2 class="title-docs">Uso</h2>
             <img src={imgUso.src} width="100%" height="auto" alt="image uso">
          </div>
         
          
          <div class="container-details">
            <h2 class="title-docs">Props</h2>
            <p class="detail-docs">Algunos componentes reciben unas props para hacerlas mas dinámicas y flexible a tus proyectos, Por ejemplo:</p>
            <img src={imgProps1.src} width="100%" height="auto" alt="image props 1">
              <Line />
            <img src={imgProps2.src} width="100%" height="auto" alt="image props 2">
          </div>
       
          <div id="run" class="container-details">
            <h2 class="title-docs">Corre el proyecto</h2>
             <div class="container-code-function">
              <p class="code">npm run dev</p>
             </div>
          </div>
          <Line />
          <footer class="footer-docs">
            <p class="title-footer">Visita otras secciones más detalladas para profundizar más sobre los componentes</p>
            <div class="container-links-footer">
              <a href="/colores" class="link-footer">Colores</a>
            <a href="/props" class="link-footer">Props</a>
            <a href="/componentes" class="link-footer">Componentes</a>  
            </div>
          </footer>
        </section>
      </main>
</Layout>
