---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
---

<Layout 
	title="Components fast - catálogo de componentes" 
	description="página de inicio para componentes de UI, que puede usar en su proyecto, componentes desde botones hasta un carrousel de imágenes.">
	<main>
		<Home />
	</main>
</Layout>

