<div class="box">
    <div class="line"></div>
</div>

<style>
    .box {
    width: 100%; 
  }
  
  .line {
    height: 2px; 
    background-image: linear-gradient(to right,#2bbfe4,#3245ff ,#8709b5); /
  }
</style>